.github/copilot-codegen-python.md
.github/copilot-commits.md
.github/copilot-review.md
.vscode/settings.json
.github/copilot-instructions.md
.env
__pycache__/main.cpython-310.pyc
.gitignore
app/__pycache__/__init__.cpython-310.pyc
app/api/routes/__pycache__/health.cpython-310.pyc
app/api/routes/__pycache__/zabbix.cpython-310.pyc
app/core/__pycache__/config.cpython-310.pyc
app/core/__pycache__/logging.cpython-310.pyc
app/models/__pycache__/zabbix.cpython-310.pyc
logs/dorothy.log
app/services/__pycache__/rundeck_service.cpython-310.pyc
**/**.pyc
logs/dorothy.log
app/services/__pycache__/ollama_service.cpython-310.pyc
app/services/__pycache__/rundeck_service.cpython-310.pyc
docker/docker-compose.yaml
scripts/request.js
simulate_disk_full.txt
host/simulate_disk_full.txt
docker/*
examples/*
host/*
logs/*
scripts/*
.devcontainer
